@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
.topic{
    padding: 20px;
    color: antiquewhite;
    font-family: 'Space Mono', monospace;
    font-size: 50px;
    margin-left: 300px;
}

.desc{
    padding: 20px;
    color: antiquewhite;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
}

.gradient-link {
    background: linear-gradient(to bottom right, #abb5e6, #ee94e8, #FFCC70); /* Replace with your desired gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }